.shoppableImageContainer {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.shoppableImageContent {
  position: relative;
  margin-bottom: 20px;
}

.shoppableImage {
  width: 90%;
  margin: auto;
}

.hotspot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hotspot:hover {
  transform: scale(1.2);
}

.hotspot a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.shoppableTitle {
  text-align: center;
  font-family: Merriweather;
  font-style: italic;
  font-size: 32px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0;
  margin: 30px;
  color: #000000;
}
.show {
  display: flex;
  visibility: visible;
}
.hidden {
  display: none;
  visibility: hidden;
}
.desktop {
  display: flex;
  visibility: visible;
}
.mobile {
  display: none;
  visibility: hidden;
}
@media screen and (max-width: 1024px) {
  .Subtitle {
    font-size: 20px;
  }
  .shoppableImage {
    margin: auto;
  }
  .action-btn {
    font-size: 14px;
  }
  .desktop {
    display: none;
    visibility: hidden;
  }
  .mobile {
    display: flex;
    visibility: visible;
  }
}
