.recommendationsShelfContainer {
  margin-top: 20px;
}

.recommendationsShelfTitle {
  font-family: Merriweather;
  font-style: italic;
  font-size: 26px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0;
  margin: 5px auto;
  text-align: center;
}
